@import url("./fonts.scss");

#app {
  font-size: 50px;
}

.react-logo {
  background: url("./assets/images/react-logo.png") no-repeat center;
  height: 500px;
  width: 500px;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
